<footer id="footer" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <span class="xfooter-title">
          Lisbon Street Labs, LLC
        </span>
        <span>
          <% if user_signed_in? && current_user.admin? %>
            | <%= link_to 'Sidekiq', '/sidekiq' %>
          <% end %>
        </span>
      </div>
      <div class="col-sm-6">
        <span class="pull-right copyright">
          Made in San Francisco. &copy; All Right Reserved.
        </span>
      </div>
    </div>
  </div>
</footer>
