<div class="row">
  <div class="col-md-12 text-center login-box">
    <%= link_to "Sign in With GMail", omniauth_authorize_path("user", "google_oauth2"), class: "btn btn-primary btn-lg login" %>
  </div>
</div>
